<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>Consent Creator</display-name>
	<!-- Servletdefinitions -->
	<servlet>
		<description>
		</description>
		<display-name>ClearConsentServiceServlet</display-name>
		<servlet-name>ClearConsentServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.ClearConsentServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConflictServiceServlet</display-name>
		<servlet-name>ConflictServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.ConflictServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConsentHistoryServiceServlet</display-name>
		<servlet-name>ConsentHistoryServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.ConsentHistoryServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateConsentServiceServlet</display-name>
		<servlet-name>CreateConsentServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.CreateConsentServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeActivateMemberServiceServlet</display-name>
		<servlet-name>DeActivateMemberServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.DeActivateMemberServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Dispatcher</display-name>
		<servlet-name>Dispatcher</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.Dispatcher</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServiceServlet</display-name>
		<servlet-name>LoginServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.LoginServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServiceServlet</display-name>
		<servlet-name>LogoutServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.LogoutServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PrivilegedCreateConsentServiceServlet</display-name>
		<servlet-name>PrivilegedCreateConsentServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.PrivilegedCreateConsentServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PrivilegedDispatcher</display-name>
		<servlet-name>PrivilegedDispatcher</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.PrivilegedDispatcher</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PrivilegedRegisterServiceServlet</display-name>
		<servlet-name>PrivilegedRegisterServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.PrivilegedRegisterServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PrivilegedUpdateUserServiceServlet</display-name>
		<servlet-name>PrivilegedUpdateUserServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.PrivilegedUpdateUserServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>QuickServiceServlet</display-name>
		<servlet-name>QuickServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.QuickServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisterServiceServlet</display-name>
		<servlet-name>RegisterServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.RegisterServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RetrieveConsentServiceServlet</display-name>
		<servlet-name>RetrieveConsentServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.RetrieveConsentServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RetrievePasswordServiceServlet</display-name>
		<servlet-name>RetrievePasswordServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.RetrievePasswordServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RevokeConsentServiceServlet</display-name>
		<servlet-name>RevokeConsentServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.RevokeConsentServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateUserServiceServlet</display-name>
		<servlet-name>UpdateUserServiceServlet</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.UpdateUserServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserDispatcher</display-name>
		<servlet-name>UserDispatcher</servlet-name>
		<servlet-class>org.openehealth.coms.cc.web_frontend.consentcreator.controller.UserDispatcher</servlet-class>
	</servlet>
	<!-- Servlet-Mapping -->
	<servlet-mapping>
		<servlet-name>ClearConsentServiceServlet</servlet-name>
		<url-pattern>/ClearConsentServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConflictServiceServlet</servlet-name>
		<url-pattern>/ConflictServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsentHistoryServiceServlet</servlet-name>
		<url-pattern>/ConsentHistoryServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateConsentServiceServlet</servlet-name>
		<url-pattern>/CreateConsentServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeActivateMemberServiceServlet</servlet-name>
		<url-pattern>/DeActivateMemberServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Dispatcher</servlet-name>
		<url-pattern>/Dispatcher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServiceServlet</servlet-name>
		<url-pattern>/LoginServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServiceServlet</servlet-name>
		<url-pattern>/LogoutServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrivilegedCreateConsentServiceServlet</servlet-name>
		<url-pattern>/PrivilegedCreateConsentServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrivilegedDispatcher</servlet-name>
		<url-pattern>/PrivilegedDispatcher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrivilegedRegisterServiceServlet</servlet-name>
		<url-pattern>/PrivilegedRegisterServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrivilegedUpdateUserServiceServlet</servlet-name>
		<url-pattern>/PrivilegedUpdateUserServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuickServiceServlet</servlet-name>
		<url-pattern>/QuickServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServiceServlet</servlet-name>
		<url-pattern>/RegisterServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrieveConsentServiceServlet</servlet-name>
		<url-pattern>/RetrieveConsentServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrievePasswordServiceServlet</servlet-name>
		<url-pattern>/RetrievePasswordServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RevokeConsentServiceServlet</servlet-name>
		<url-pattern>/RevokeConsentServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserServiceServlet</servlet-name>
		<url-pattern>/UpdateUserServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDispatcher</servlet-name>
		<url-pattern>/UserDispatcher</url-pattern>
	</servlet-mapping>
	<!-- Filters -->
	<filter>
		<filter-name>TypeFilter</filter-name>
		<filter-class>org.openehealth.coms.cc.web_frontend.consentcreator.filter.TypeFilter</filter-class>
	</filter>
	<filter>
		<filter-name>SystemUserFilter</filter-name>
		<filter-class>org.openehealth.coms.cc.web_frontend.consentcreator.filter.SystemUserFilter</filter-class>
	</filter>
	<filter>
		<filter-name>SimpleUserFilter</filter-name>
		<filter-class>org.openehealth.coms.cc.web_frontend.consentcreator.filter.SimpleUserFilter</filter-class>
	</filter>
	<filter>
		<filter-name>PrivilegedUserFilter</filter-name>
		<filter-class>org.openehealth.coms.cc.web_frontend.consentcreator.filter.PrivilegedUserFilter</filter-class>
	</filter>
	<!-- Filter-Mapping -->
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>ClearConsentServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SystemUserFilter</filter-name>
		<servlet-name>ClearConsentServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PrivilegedUserFilter</filter-name>
		<servlet-name>ClearConsentServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>ConflictServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SystemUserFilter</filter-name>
		<servlet-name>ConflictServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PrivilegedUserFilter</filter-name>
		<servlet-name>ConflictServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>ConsentHistoryServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SystemUserFilter</filter-name>
		<servlet-name>ConsentHistoryServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PrivilegedUserFilter</filter-name>
		<servlet-name>ConsentHistoryServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>CreateConsentServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SystemUserFilter</filter-name>
		<servlet-name>CreateConsentServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SimpleUserFilter</filter-name>
		<servlet-name>CreateConsentServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>DeActivateMemberServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SystemUserFilter</filter-name>
		<servlet-name>DeActivateMemberServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PrivilegedUserFilter</filter-name>
		<servlet-name>DeActivateMemberServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>Dispatcher</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>LoginServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>LogoutServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SystemUserFilter</filter-name>
		<servlet-name>LogoutServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>PrivilegedCreateConsentServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SystemUserFilter</filter-name>
		<servlet-name>PrivilegedCreateConsentServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PrivilegedUserFilter</filter-name>
		<servlet-name>PrivilegedCreateConsentServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>PrivilegedDispatcher</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SystemUserFilter</filter-name>
		<servlet-name>PrivilegedDispatcher</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PrivilegedUserFilter</filter-name>
		<servlet-name>PrivilegedDispatcher</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>PrivilegedRegisterServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SystemUserFilter</filter-name>
		<servlet-name>PrivilegedRegisterServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PrivilegedUserFilter</filter-name>
		<servlet-name>PrivilegedRegisterServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>PrivilegedUpdateUserServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SystemUserFilter</filter-name>
		<servlet-name>PrivilegedUpdateUserServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PrivilegedUserFilter</filter-name>
		<servlet-name>PrivilegedUpdateUserServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>QuickServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>RegisterServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>RetrieveConsentServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SystemUserFilter</filter-name>
		<servlet-name>RetrieveConsentServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SimpleUserFilter</filter-name>
		<servlet-name>RetrieveConsentServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>RetrievePasswordServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TypeFilter</filter-name>
		<servlet-name>UpdateUserServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SystemUserFilter</filter-name>
		<servlet-name>UpdateUserServiceServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SystemUserFilter</filter-name>
		<servlet-name>UserDispatcher</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SimpleUserFilter</filter-name>
		<servlet-name>UserDispatcher</servlet-name>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
        <session-timeout>600</session-timeout>
    </session-config>
</web-app>